name: first test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened ]

jobs:
  test:
    runs-on: p800
    timeout-minutes: 60
    #: iregistry.baidu-int.com/xmlir/xmlir_ubuntu_2004_x86_64:v0.37_base
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # - name: Install dependencies
      #   run: pip install pytest
      - name: check env
        run: |
          cat /etc/os-release
      - name: Test
        run: pytest -sv test.py
      