name: first test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened ]

jobs:
  test:
    runs-on: p800_82
    timeout-minutes: 60
    #: iregistry.baidu-int.com/xmlir/xmlir_ubuntu_2004_x86_64:v0.37_base
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # - name: Install dependencies
      #   run: pip install pytest
      - name: check env
        run: |
          cat /etc/os-release
          pwd
      - name: Test
        env:  
        run: |
          unset XPU_DUMMY_EVENT
          export XPU_VISIBLE_DEVICES=0
          export XFT_USE_FAST_SWIGLU=1 
          export XPU_USE_FAST_SWIGLU=1 
          export XMLIR_CUDNN_ENABLED=1
          export XPU_USE_DEFAULT_CTX=1
          export XMLIR_FORCE_USE_XPU_GRAPH=1 
          export XPU_USE_MOE_SORTED_THRES=128 
          export VLLM_HOST_IP=$(hostname -i)
          export XMLIR_ENABLE_MOCK_TORCH_COMPILE=false 
          VLLM_USE_V1=1
          USE_ORI_ROPE=1
          source /root/.bashrc
          python test.py
      