name: first test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: astral/uv:python3.10-bookworm-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: setup uv
        run: |
          uv python install 3.10
          uv python list
      - name: Test
        run: uv run pytest test.py
